In [3]:
print ("Hello World!")

Hello World!

In [6]:
True

True

In [9]:
False

False

# TIPOS DE DADOS

### Strings

In [11]:
'esse e um texto do tipo string de aspas simples'
"esse e um texto do tipo string de aspas duplas"
'''esse e um texto do tipo string com aspas triplas simles'''
"""esse e um texto do tipo string com aspas trplhas duplas"""

'esse e um texto do tipo string com aspas trplhas duplas'

### CASOS ESPECIAIS DAS STRINGS

 ESCAPE CHARACTER

In [16]:
"\"don´t look at me" #invisible(invisivel) character

'"don´t look at me'

In [18]:
print ("\"dont´t look at me\"")

"dont´t look at me"

In [23]:
print ("ola mundo.\nMeu nome é Raquel.")
print ("ola mundo. Meu nome é Raquel.")
print ("ola mundo.\tMeu nome é Raquel.")

ola mundo.
Meu nome é Raquel.
ola mundo. Meu nome é Raquel.
ola mundo.	Meu nome é Raquel.

## DESAFIO 1:em duas linhas imprima boas vindas ao usuario.

In [32]:
dados=input ("digite seu nome e sua idade:"). split()
print (f"Olá {dados[0]}.\nsua idade é {dados[1]}.")

digite seu nome e sua idade:raquel 16
Olá raquel.
sua idade é 16.

In [36]:
##solucao 1
dados=input ("digite seu nome e sua idade:"). split()
print (f"Olá {dados[0]}.\nsua idade é {dados[1]}.")

dados= input ("digite seu nome e a sua idade : ").split()
print ("Olá {}.\nsua idade é {} .".format(dados[0], dados[1]))

digite seu nome e sua idade:raquel bitar
Olá raquel.
sua idade é bitar.
digite seu nome e a sua idade : raquel bitar
Olá raquel.
sua idade é bitar .

In [38]:
#solucao 2
frutas=["toranja", "bergamota", "figo"]
 
nome, idade= input ("Digite seu nome e sua idade:").split()

###  SPLIT

In [44]:
"nome, idade, cpf, email". split (",")

['nome', ' idade', ' cpf', ' email']

### MANIPULANDO STRING/TEXTO

In [45]:
estados = """COD,NOME,SIGLA
35,São Paulo, SP
41,Paraná, PR
42,Santa Catarina, SC
43,Rio Grande do Sul, RS
50,Mato Grosso do Sul, MS
11,Rondônia, RO
12,Acre, AC
13,Amazonas, AM
14,Roraima, RR
15,Pará, PA
16,Amapá, AP
17,Tocantins, TO
21,Maranhão, MA
24,Rio Grande do Norte, RN
25,Paraíba, PB
26,Pernambuco, PE
27,Alagoas, AL
28,Sergipe, SE
29,Bahia, BA
31,Minas Gerais, MG
33,Rio de Janeiro, RJ
51,Mato Grosso, MT
52,Goiás, GO
53,Distrito Federal, DF
22,Piauí, PI
23,Ceará, CE
32,Espírito Santo, ES
"""
print(estados)

COD,NOME,SIGLA
35,São Paulo, SP
41,Paraná, PR
42,Santa Catarina, SC
43,Rio Grande do Sul, RS
50,Mato Grosso do Sul, MS
11,Rondônia, RO
12,Acre, AC
13,Amazonas, AM
14,Roraima, RR
15,Pará, PA
16,Amapá, AP
17,Tocantins, TO
21,Maranhão, MA
24,Rio Grande do Norte, RN
25,Paraíba, PB
26,Pernambuco, PE
27,Alagoas, AL
28,Sergipe, SE
29,Bahia, BA
31,Minas Gerais, MG
33,Rio de Janeiro, RJ
51,Mato Grosso, MT
52,Goiás, GO
53,Distrito Federal, DF
22,Piauí, PI
23,Ceará, CE
32,Espírito Santo, ES

In [47]:
estados.split()

['COD,NOME,SIGLA',
 '35,São',
 'Paulo,',
 'SP',
 '41,Paraná,',
 'PR',
 '42,Santa',
 'Catarina,',
 'SC',
 '43,Rio',
 'Grande',
 'do',
 'Sul,',
 'RS',
 '50,Mato',
 'Grosso',
 'do',
 'Sul,',
 'MS',
 '11,Rondônia,',
 'RO',
 '12,Acre,',
 'AC',
 '13,Amazonas,',
 'AM',
 '14,Roraima,',
 'RR',
 '15,Pará,',
 'PA',
 '16,Amapá,',
 'AP',
 '17,Tocantins,',
 'TO',
 '21,Maranhão,',
 'MA',
 '24,Rio',
 'Grande',
 'do',
 'Norte,',
 'RN',
 '25,Paraíba,',
 'PB',
 '26,Pernambuco,',
 'PE',
 '27,Alagoas,',
 'AL',
 '28,Sergipe,',
 'SE',
 '29,Bahia,',
 'BA',
 '31,Minas',
 'Gerais,',
 'MG',
 '33,Rio',
 'de',
 'Janeiro,',
 'RJ',
 '51,Mato',
 'Grosso,',
 'MT',
 '52,Goiás,',
 'GO',
 '53,Distrito',
 'Federal,',
 'DF',
 '22,Piauí,',
 'PI',
 '23,Ceará,',
 'CE',
 '32,Espírito',
 'Santo,',
 'ES']

In [49]:
estados.split("\n")

['COD,NOME,SIGLA',
 '35,São Paulo, SP',
 '41,Paraná, PR',
 '42,Santa Catarina, SC',
 '43,Rio Grande do Sul, RS',
 '50,Mato Grosso do Sul, MS',
 '11,Rondônia, RO',
 '12,Acre, AC',
 '13,Amazonas, AM',
 '14,Roraima, RR',
 '15,Pará, PA',
 '16,Amapá, AP',
 '17,Tocantins, TO',
 '21,Maranhão, MA',
 '24,Rio Grande do Norte, RN',
 '25,Paraíba, PB',
 '26,Pernambuco, PE',
 '27,Alagoas, AL',
 '28,Sergipe, SE',
 '29,Bahia, BA',
 '31,Minas Gerais, MG',
 '33,Rio de Janeiro, RJ',
 '51,Mato Grosso, MT',
 '52,Goiás, GO',
 '53,Distrito Federal, DF',
 '22,Piauí, PI',
 '23,Ceará, CE',
 '32,Espírito Santo, ES',
 '']

In [50]:
alunos = alunos = [
    "pablo",
    "nicolas a.",
    "raquel",
    "patrick",
    "lucas",
    "rafael",
    "rodolpho",
    "natali",
    "victor",
    "thiago",
    "roberval",
    "vinicius",
    "marcos",
    "rodrigo",
    "renan",
    "nicolas f.",
    "thalith",
    "watuse",
    "victoria"
]

In [5]:
# # del alunos  (2)
# # alunos
# # alunos.pop(1)

### OUTROS TIPOS  DE STRING/TEXTO

In [ ]:
r "raw string" #texto seco, cru,literal

### LISTA-Mutáveis

#### DESAFIO 02

In [2]:
nome, sobrenome =  input("Digite seu nome e sobrenome: ").split()
print(f"as iniciais do seu nome sao: {nome[0]} {sobrenome[0]}")
print (nome[0] + sobrenome[0])
print (nome[0] + sobrenome[0], sep=".")

Digite seu nome e sobrenome: raquel biatr
as iniciais do seu nome sao: r b
rb
rb

# FUNÇOES

### CRIANDO FUNÇÕES PRÓPIAS

In [6]:
#criação de funções 

def minha_funcao():
    ... # pass

#chamada de função 
minha_funcao()

In [9]:
#parâmetro
def func2(parametro1, parametro2):
    return (parametro1 + parametro2)
    
func2("olá", "talvez")

'olátalvez'